################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/
bin/
*.csproj.user
/UpgradeLog.htm
/packages/NUnit.3.13.3
/packages
TestResults/
